@using System
<!DOCTYPE html>

<html ng-app="app" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">
    <title>Meet Me There | Get together with your team!</title>

    <link rel="stylesheet" type="text/css" href="~/app/lib/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="./app/datepicker/calendar.min.css">
</head>
<body>
    @RenderBody()
</body>


<script src="~/app/lib/jquery/dist/jquery.min.js"></script>
<script src="~/app/lib/semantic/dist/semantic.min.js"></script>
<script src="~/app/lib/angular/angular.min.js"></script>
<script src="~/app/lib/angular-cookies/angular-cookies.min.js"></script>
<script src="~/build/mmt.app.js"></script>
</html>
