.teams {
	height: 150px;

	&--header {
		color: $light-persian-green;
	}

	&--img {
		height: 30px;
	}

	p {
		font-size: 30px;
	}

	&--button {
		background-color: $light-persian-green !important;
	}

	&--title {
		margin-top: 45px;
	}
}

.pusher {
	padding-right: 260px;
}

.team {
	&--button {
		height: 30px;
	},

	&--member {
		margin-bottom: 14px;
        float: right !important;
        height: 0px;
        margin-top: 10px !important;
	}

     &-div {
         width: 300px;
     }

     &-info {
        width: 300px !important;
        margin-right: 0px !important;
     }
}

.create {
	&--positive {
		background-color: $light-persian-green !important;
	},

	&--description {
		padding-left: 37.4px !important;
	}
}